.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0353ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  /* размеры */
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
